$vacasa-yorange: rgb(255,173,2); // Vacasa Yorange
$owner-yellow: rgb(255,208,10); // Owner Yellow
$guest-yellow: rgb(255,231,0); // Guest Yellow
$midnight: rgb(0,51,73); // Midnight
$midnight-90: rgb(26,71,91); // Midnight - 90%
$midnight-80: rgb(51,92,109); // Midnight - 80%
$midnight-70: rgb(77,112,128); // Midnight - 70%
$midnight-60: rgb(102,133,146); // Midnight - 60%
$midnight-50: rgb(128,153,164); // Midnight - 50%
$midnight-40: rgb(153,173,182); // Midnight - 40%
$midnight-30: rgb(178,194,200); // Midnight - 30%
$midnight-20: rgb(204,214,219); // Midnight - 20%
$midnight-10: rgb(229,235,237); // Midnight - 10%
$midnight-4: rgb(245,247,248); // Midnight - 4%
$midnight-2: rgb(251,251,252); // Midnight - 2%
$white: rgb(255,255,255); // White
$black: rgb(0,0,0); // Black
$dusk: rgb(44,52,57); // Dusk
$dusk-light: rgb(76,83,87); // Dusk Light
$dusk-lighter: rgb(112,117,121); // Dusk Lighter
$dusk-lightest: rgb(150,154,156); // Dusk Lightest
$lake: rgb(0,120,171); // Lake
$lake-70: rgb(76,160,196); // Lake 70%
$lake-40: rgb(127,187,213); // Lake 40%
$lake-10: rgb(229,241,246); // Lake 10%
$success: rgb(107,163,66); // Success
$success-70: rgb(151,190,122); // Success 70%
$success-40: rgb(196,218,179); // Success 40%
$success-10: rgb(240,245,236); // Success 10%
$alertness: rgb(214,46,79); // Alertness
$alertness-70: rgb(226,108,131); // Alertness 70%
$alertness-40: rgb(239,171,185); // Alertness 40%
$alertness-10: rgb(250,234,237); // Alertness 10%
$owner-yellow: rgb(255,208,10); // Owner Yellow
$owner-yellow-70: rgb(255,222,83); // Owner Yellow 70%
$owner-yellow-40: rgb(255,236,157); // Owner Yellow 40%
$owner-yellow-10: rgb(255,250,230); // Owner Yellow 10%
$vacasa-yorange: rgb(251,172,24); //  Vacasa Yorange
$vacasa-owner: rgb(255,208,10); // Vacasa Owner
$vacasa-guest: rgb(255,231,0); // Vacasa Guest
$white: rgb(255,255,255); // White
$midnight-4: rgb(245,247,248); // Midnight - 4%
$midnight: rgb(0,55,77); // Midnight
$coral: rgb(231,131,79); // Coral
$rust: rgb(189,103,52); // Rust
$grape: rgb(90,36,88); // Grape
$vista: rgb(166,211,188); // Vista
$lagoon: rgb(49,139,157); // Lagoon
$awareness: rgb(221,173,73); // Awareness
$awareness-70: rgb(231,197,127); // Awareness 70%
$awareness-40: rgb(241,222,182); // Awareness 40%
$awareness-10: rgb(251,246,236); // Awareness 10%
$midnight: rgb(0,51,73); // Midnight
$midnight-70: rgb(77,113,128); // Midnight 70%
$midnight-40: rgb(153,173,182); // Midnight 40%
$midnight-10: rgb(229,234,236); // Midnight 10%
