.footer {
  background-color: #FBFCFD;
  table.container {
    background-color: #FBFCFD;
  }
  h4 {
    font-family: $wigrum !important;
    margin-bottom: 16px;
    font-weight: 500 !important;
  }
}

.legal {
  p {
    &.small {
      font-size: 10px;
      color: $medium-gray;
      padding-top: 6px;
      line-height: 18px;
    }
    &.links a {
      font-size: 12px;
      color: $dark-gray;
      text-decoration: none;
    }
    .separator {
      color: $light-gray;
    }
  }
}
