.footer {
  background-color: $midnight-4;
  table.container {
    background-color: $midnight-4;
  }
  h4 {
    font-family: $wigrum !important;
    margin-bottom: 16px;
    font-weight: 500 !important;
  }
  img.logo {
    margin-right: 40px;
    width: 89px !important;
    height: 64px !important;
  }
}

.legal {
  a {
    text-decoration: none !important;
    color: $lake;
  }
  p {
    &.small {
      font-size: 10px;
      color: $medium-gray;
      padding-top: 6px;
      line-height: 18px;
    }
    &.links {
      text-align: right !important;
      a {
        color: $midnight-60;
        font-size: 10px !important;
        font-weight: 600;
        line-height: 16px;
      }
    }
    .separator {
      color: $light-gray;
    }
  }
  .copyright {
    color: $light-gray;
    font-size: 10px !important;
    font-weight: 600;
    line-height: 18px;
  }
}

// Responsive image override
@media only screen and (max-width: 710px) {
  table.body img.logo {
      width: 89px !important;
      height: 64px !important;
      margin-bottom: 32px;
  }
  .legal .links {
    text-align: left !important;
  }
}
