.header {
  background-color: $white;
  img.logo {
    margin-left: 40px;
  }
  &.dark {
    background-color: $midnight;
    color: $white;
    h1.headline {
      color: white !important;
      font-size: 56px;
      line-height: 66px;
      letter-spacing: -1.25px;
    }
    h2 {
      color: white !important;
      font-family: $wigrum;
      font-size: 28px;
      font-weight: bold;
    }
    .wrapper-inner {
      padding-bottom: 0 !important;
    }
    p.lead {
      color: $white !important;
      span {
        color: $owner-yellow;
      }
      font-family: $wigrum;
      font-size: 21px;
      font-weight: 500;
      height: 64px;
      letter-spacing: -0.2px;
      line-height: 32px;
    }
  }
}
