h1 span {
  color: $white !important;
}
span.headline-container {
  text-align: center !important;
}
.header {
  background-color: $white;
  &.dark {
    background-color: $midnight;
    color: $white;
    h1.headline {
      color: white !important;
      font-size: 56px;
      line-height: 66px;
      letter-spacing: -1.25px;
    }
    h2 {
      color: white !important;
      font-family: $wigrum;
      font-size: 28px;
      font-weight: bold;
    }
    &.header-thin {
      .wrapper-inner {
        padding: 16px 0px 16px 0px;
      }
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .wrapper-inner {
      padding-bottom: 0px;
    }
    span.header-text {
      color:$white;
      white-space: nowrap;
    }
    p.lead {
      color: $white !important;
      span {
        color: $owner-yellow;
      }
      font-family: $wigrum;
      font-size: 21px;
      font-weight: 500;
      letter-spacing: -0.2px;
      line-height: 32px;
    }
  }
}

// Responsive image override
@media only screen and (max-width: 710px) {
  table.body img {
    width: 123px !important;
    height: 24px !important;
    margin-bottom: 16px;
  }
  table.body img.past-unit {
      width: 95px !important;
      height: 64px !important;
      margin-bottom: 8px;
  }
  .header {
    h1.headline {
      font-size: 38px !important;
      line-height: 40px !important;
      letter-spacing: -0.2px !important;
    }
    p.lead {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
}
