h1.headline {
  font-family: $wigrum;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.2px;
  font-size: 40px;
}

.headline,
.lead,
.section-title {
  color: $black;
  hyphens: none;
}

p.lead {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -.2px;
}

.section-title {
  font-family: $wigrum;
  font-weight: 500 !important;
  font-size: 28px;
  line-height: 36px;
}


// Responsive image override
@media only screen and (max-width: 710px) {
  .section-title {
    font-size: 21px !important;
    line-height: 28px !important;
  }
  table.body img.icon {
    width: 14px !important;
    height: 16px !important;
  }
}
