.listing {
  a {
    text-decoration: none;
  }
  margin-bottom: 40px;
  th.columns {
    padding-bottom: 0;
  }
  p {
    margin-bottom: 8px;
    line-height: 24px;
  }
  p.highlight {
    margin-bottom: 0;
    font-size: 12px;
    color: $medium-gray;
    font-weight: 400;
    font-family: $wigrum;
  }
  img.unit {
    margin-bottom: 12px !important;
    &.small-float-center {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 8px !important;
    }
  }
  h4, h4 a {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.2px;
    font-weight: 600;
    text-decoration: none;
    color: $black !important;
  }
  small {
    text-transform:uppercase;
    font-size: 10px;
  }
  .attributes {
    color: $dusk-lightest;
    font-family: $wigrum ;
    font-size: 14px;
    font-weight: 500;
    height: 16px;
    letter-spacing: 0.44px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .rating {
    margin-top: 8px;
  }
  .stars {
    display: inline-block !important;
  }
  .reviews {
    margin-left: 8px;
    color: $lake;
    font-family: NunitoSans-SemiBold;
    font-size: 12px;
    font-weight: 600;
    vertical-align: bottom;
    display: inline-block !important;
  }
  p {
    margin-top: 8px;
  }
  .current-price {
    font-weight: 600;
  }
  .previous-price {
    text-decoration: line-through;
    color: $dusk-lightest;
    font-size: 15px;
  }
  .per-night {
    text-transform: uppercase;
    font-size: 12px !important;
    color: $dusk-light;
    font-weight: 600;
  }
}
