.listings {
  margin-bottom: 40px;
  th.columns {
    padding-bottom: 0;
  }
  p.highlight {
    margin-bottom: 0;
    font-size: 12px;
    color: $medium-gray;
    font-weight: 500;
    @include font-wigrum;
  }
  img {
    margin-bottom: 16px !important;
    &.small-float-center {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 8px !important;
    }
  }
  h4 {
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
}
